*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
body{
    margin: 0;
}
/************** Header styles start! **************/
.container{
    width: 100%;
}
.header-wrapper{
    border: 1px solid #000;
    height: 782px;
    position: relative;
}
.background{
    width: 100%;
    height: 782px;
    background-image: url("../images/bacground-img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.line-gradient{
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: 50px;
}
.header-logo{
    width: 172px;
    height: 29px;
    margin-top: 5px;
    margin-left: 165px;
}
.header-list{
    display: flex;
    justify-content: space-between;
    width: 445px;
    margin-top: 8px;
    padding-left: 0;
}
.header-item{
    display: inline-block;
}
.header-item:hover{
    transition: all 0.2s linear;
    transform: scale(1.1);
}
.header-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}
.header-link:hover{
    color: #FFD700;
}
.header-top-end{
    display: flex;
    justify-content: space-between;
    width: 216px;
    height: 40px;
    margin-right: 168px;
}
.language{
    display: flex;
    justify-content: space-between;
    width: 105px;
    height: 32px;
    margin-top: 4px;
}
.lang{
    margin-top: 10px;
    width: 32px;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}
.down-icon{
    width: 18px;
    height: 18px;
    margin-top: 12px;
}
.header-top-btn{
    background-color: transparent;
    width: 100px;
    height: 40px;
    border: 1px solid #FFF;
    border-radius: 6px;
}
.top-btn-title{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}
.header-top-btn:hover{
    box-shadow: 0 0 2px 2px #808080;
    transition: all 0.2s linear;
    transform: scale(1.1);
}
.header-title{
    position: absolute;
    left: 474px;
    top: 257px;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    color: #FFF;
}
.header-desc{
    text-align: center;
    position: absolute;
    width: 540px;
    height: 124px;
    left: 472px;
    top: 397px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFF;
}
.header-btn{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 667px;
    top: 545px;
    background: #FFF;
    border-color: transparent;
    border-radius: 6px;
    margin-top: 39px;
}
.header-btn:hover {
    box-shadow: 0 0 2px 2px #808080;
    transition: all 0.2s linear;
    transform: scale(1.1);
}
.btn-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ED4C5C;
}
/************** Header styles end! **************/
/************** Main styles start! **************/
/************** Section1 styles start! **************/
.section1-wrapper{
    position: relative;
    width: 100%;
    height: 500px;
    left: 0;
    top: 782px;
    background: #FFF;
}
.section1-title{
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000;
    margin-top: 140px;
    margin-bottom: 24px;
    margin-left: 165px;
}
.section1-desc{
    width: 445px;
    height: 115px;
    font-size: 14px;
    line-height: 140%;
    color: #000;
    margin-left: 165px;
}
.section1-back-img{
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
    background: url("../images/section1-img.png"), #C4C4C4;
    border-radius: 15px;
}

/************** Section1 styles end! **************/
/************** Main styles end! **************/