*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
body{
    margin: 0;
}
/************** Header styles start! **************/
.container{
    width: 100%;
}
.header-wrapper{
    border: 1px solid #000;
    height: 782px;
    position: relative;
}
.background{
    width: 100%;
    height: 782px;
    background-image: url("../images/bacground-img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.line-gradient{
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: 50px;
}
.header-logo{
    width: 172px;
    height: 29px;
    margin-top: 5px;
    margin-left: 165px;
}
.header-list{
    display: flex;
    justify-content: space-between;
    width: 445px;
    margin-top: 8px;
    padding-left: 0;
}
.header-item{
    display: inline-block;
}
.header-item:hover{
    transition: all 0.2s linear;
    transform: scale(1.1);
}
.header-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}
.header-link:hover{
    color: #FFD700;
}
.header-top-end{
    display: flex;
    justify-content: space-between;
    width: 216px;
    height: 40px;
    margin-right: 168px;
}
.language{
    display: flex;
    justify-content: space-between;
    width: 105px;
    height: 32px;
    margin-top: 4px;
}
.lang{
    margin-top: 10px;
    width: 32px;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}
.down-icon{
    width: 18px;
    height: 18px;
    margin-top: 12px;
}
.header-top-btn{
    background-color: transparent;
    width: 100px;
    height: 40px;
    border: 1px solid #FFF;
    border-radius: 6px;
}
.top-btn-title{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}
.header-top-btn:hover{
    box-shadow: 0 0 2px 2px #808080;
    transition: all 0.2s linear;
    transform: scale(1.1);
}
.header-title{
    position: absolute;
    left: 474px;
    top: 257px;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    color: #FFF;
}
.header-desc{
    text-align: center;
    position: absolute;
    width: 540px;
    height: 124px;
    left: 472px;
    top: 397px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFF;
}
.header-btn{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 667px;
    top: 545px;
    background: #FFF;
    border-color: transparent;
    border-radius: 6px;
    margin-top: 39px;
}
.header-btn:hover {
    box-shadow: 0 0 2px 2px #808080;
    transition: all 0.2s linear;
    transform: scale(1.1);
}
.btn-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ED4C5C;
}
/************** Header styles end! **************/
/************** Main styles start! **************/
/************** Section1 styles start! **************/
.main{
    border: 1px solid #000;
}
.section1-wrapper{
    position: relative;
    width: 100%;
    height: 500px;
    background: #FFF;
    border: 1px solid transparent;
}
.section1-title{
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000;
    margin-top: 140px;
    margin-bottom: 24px;
    margin-left: 165px;
}
.section1-desc{
    width: 445px;
    height: 115px;
    font-size: 14px;
    line-height: 140%;
    color: #000;
    margin-left: 165px;
}
.section1-back-img{
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
    background: url("../images/section1-img.png"), #C4C4C4;
    border-radius: 15px;
}
.video_player{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 702px;
    top: 217px;
}
/************** Section1 styles end! **************/
/************** Section2 styles start! **************/
.section2{
    background: #FAFAFA;
}
.section2-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000;
    padding-top: 63px;
}
.section2-wrapper{
    position: relative;
    width: 1440px;
    height: 597px;
}
.section2-back1{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 165px;
    top: 63px;
    background: url("../images/section2-card1.png"), #FFF;
    border-radius: 8px;
}
.section2-back2{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 545px;
    top: 63px;
    background: url("../images/section2-card2.png"), #FFF;
    border-radius: 8px;
}
.section2-back3{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 925px;
    top: 63px;
    background: url("../images/section2-card3.png"), #FFF;
    border-radius: 8px;
}
.section2-card1{
    position: absolute;
    width: 293px;
    height: 198px;
    left: 194px;
    top: 220px;
    background: #FFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 15px;
    padding-left: 32px;
}
.section2-card2{
    position: absolute;
    width: 293px;
    height: 198px;
    left: 574px;
    top: 220px;
    background: #FFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 15px;
    padding-left: 32px;
}
.section2-card3{
    position: absolute;
    width: 293px;
    height: 198px;
    left: 954px;
    top: 220px;
    background: #FFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 15px;
    padding-left: 32px;
}
.card-title{
    width: 229px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-bottom: 20px;
}
.card-foot-title{
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
    margin-left: 85px;
}
/************** Section2 styles end! **************/
/************** Section3 styles start! **************/
.section3-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000;
    margin-top: 63px;
    margin-bottom: 52px;
}
.section3-list{
    align-items: start;
    margin-left: 125px;
}
.section3-item{
    position: relative;
    display: inline-block;
    width: 255px;
    height: 226px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 104px;
}
.section3-number{
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    margin-top: 0;
    margin-bottom: 19px;
}
.list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-top: 19px;
}
.list-desc{
    width: 191px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-left: 34px;
    color: #000;
}
.section3-img1{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 87px;
    top: 59px;
}
.section3-img2{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 94px;
    top: 65px;
}
.section3-img3{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 93px;
    top: 61px;
}
.section3-img4{
    position: absolute;
    width: 47px;
    height: 54px;
    left: 104px;
    top: 71px;
}
/************** Section3 styles end! **************/
/************** Section4 styles start! **************/
.section4{
    background: #ED4C5C;
}
.section4-wrapper{
    position: relative;
    width: 100%;
    height: 498px;
    padding-top: 92px;
}
.section4-title{
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFF;
    margin-bottom: 24px;
    margin-left: 165px;
}
.section4-desc{
    width: 445px;
    height: 64px;
    font-size: 14px;
    line-height: 140%;
    color: #FFF;
    margin-left: 165px;
}
.section4-back1{
    position: absolute;
    width: 383px;
    height: 267px;
    left: 691px;
    top: 116px;
    background: url("../images/back1.png"), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
}
.section4-back2{
    position: absolute;
    width: 383px;
    height: 267px;
    left: 841px;
    top: 116px;
    background: url("../images/back2.png"), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
}
.section4-back3{
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
    background: url("../images/section4-img.png"), #C4C4C4;
    border-radius: 15px;
}
.section4-footer{
    width: 180px;
    height: 40px;
    margin-top: 40px;
    margin-left: 163px;
    padding-left: 0;
}
.section4-item{
    display: inline-block;
    margin-right: 25px;
}
/************** Section4 styles end! **************/
/************** Section5 styles start! **************/
.section5-wrapper{
    position: relative;
    width: 1440px;
    height: 500px;
    background: #FFF;
    border: 1px solid transparent;
}
.section5-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000;
    margin-top: 117px;
    margin-bottom: 50px;
    margin-left: 176px;
}
.section5-desc{
    width: 434px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000;
    margin-left: 176px;
}
.first-name{
    position: absolute;
    width: 255px;
    height: 60px;
    left: 735px;
    top: 117px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding-left: 31px;
}
.last-name{
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 117px;
    border: 1px solid #333;
    border-radius: 6px;
    padding-left: 31px;
}
.phone-number{
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 201px;
    border: 1px solid #333;
    border-radius: 6px;
    padding-left: 31px;
}
.select{
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 285px;
    border: 1px solid #333;
    border-radius: 6px;
    padding-left: 31px;
}
.line1{
    font-size: 16px;
    line-height: 19px;
    color: #132743;
}
/************** Section5 styles end! **************/
/************** Main styles end! **************/